* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.map {
    padding: 3% 7%;
    display: flex;
}

.map-box {
    width: 50%;
    border: 1px solid red;
}

path[id*="pl-"] {
    transition: 0.3s all;
}

path[id*="pl-"]:hover {
    fill: pink;
}

path.path--active {
    fill: pink;
}

.info-box {
    padding: 5% 7%;
}

.regionName, .regionEnName {
    animation: fadeIn 0.5s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}